<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<h1>CartoDB Table viewer</h1>
		</div>
		<%= simple_form_for :user, url: search_path, method: 'post' do |f| %>
		<div class="col-xs-12 col-md-3">
			<%= f.input :username %>
		</div>
		<div class="col-xs-12 col-md-3">
			<%= f.input :table %>
		</div>
		<div class="col-xs-12 col-md-2">
			<%= f.button :submit, class: "btn btn-primary btn-lg", label: "Load data" %>
		</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-hover">
				<tr>
					<th>#</th>
					<th>Country Name</th>
					<th>Country Initials</th>
				</tr>
				<% response["rows"].each do |line| %>
				<tr>
					<td><%= line["cartodb_id"] %></td>
					<td><p><%= line["admin"] %></p></td>
					<td><p><%= line["adm0_a3"] %></p></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-2 col-md-offset-4">
			<%= link_to "Previous", search_path(to_do: "previous", page: page, username: username, table: table), method: 'post', class: "btn btn-primary" %>
			<%= link_to "Next", search_path(to_do: "next", page: page, username: username, table: table), method: 'post', class: "btn btn-primary" %>
		</div>
	</div>
</div>